.BookList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 10px 5px 10px;
    border-bottom: solid 1px black;
}

.BookList>a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: -webkit-fill-available;
    color: #aaa;
    text-decoration: none;
}

.BookList>a:hover>h2 {
    color: var(--CTA-primary-hover);
}

.BookList>a:focus>h2 {
    color: var(--CTA-primary-focus);
}

.BookList>a>h2 {
    margin-right: 10px;
}

.BookList>a>p {
    color: #aaa;
}

.BookList>a>p::before {
    content: "| ";
}