* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

:root {
    --base-color: #ddd;
    --primary-color: #BC490B;
    --CTA-primary-hover: #893308;
    --CTA-primary-focus: #E5590D;
    --secondary-color: #23B6FF;
    --CTA-secondary-hover: #1E9FDB;
    --CTA-secondary-focus: #56C9FF;
    --important-color: #AF1515;
    --CTA-important-hover: #8E1212;
    --CTA-important-focus: #CE1A1A;

    --text-color-1: black;
    --text-color-2: white;
}


.CTA-button {
    padding: 8px 20px;
    font-weight: 600;
    color: var(--text-color-1);
    text-decoration: none;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 3px;
}

.CTA-button:hover {
    background-color: var(--CTA-secondary-hover);
}

.CTA-button:active {
    background-color: var(--CTA-secondary-focus);
}

.CTA-button.important {
    color: var(--text-color-2);
    background-color: var(--important-color);
}

.CTA-button.important:hover {
    background-color: var(--CTA-important-hover);
}

.CTA-button.important:focus {
    background-color: var(--CTA-important-focus);
}


.CTA-link {
    color: var(--primary-color);
}

.CTA-link:hover {
    color: var(--CTA-primary-hover);
}

.CTA-link:active {
    color: var(--CTA-primary-focus);
}

.CTA-link.important {
    color: var(--important-color);
}

.CTA-link.important:hover {
    color: var(--CTA-important-hover);
}

.CTA-link.important:focus {
    color: var(--CTA-important-focus);
}


.CTA-input {
    padding: 8px 12px;
    border: solid 1px black;
    border-radius: 3px;
}

.CTA-input:hover {
    border: solid 1px var(--CTA-secondary-hover);
}

.CTA-input:focus {
    outline: none;
    border: solid 1px var(--primary-color);
}