* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

:root {
    --base-color: #ddd;
    --primary-color: #BC490B;
    --CTA-primary-hover: #893308;
    --CTA-primary-focus: #E5590D;
    --secondary-color: #23B6FF;
    --CTA-secondary-hover: #1E9FDB;
    --CTA-secondary-focus: #56C9FF;
    --important-color: #AF1515;
    --CTA-important-hover: #8E1212;
    --CTA-important-focus: #CE1A1A;

    --text-color-1: black;
    --text-color-2: white;
}

.CTA-button {
    padding: 8px 20px;
    font-weight: 600;
    color: var(--text-color-1);
    text-decoration: none;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.CTA-button:hover {
    background-color: var(--CTA-secondary-hover);
}

.CTA-button:active {
    background-color: var(--CTA-secondary-focus);
}

.CTA-button.important {
    color: var(--text-color-2);
    background-color: var(--important-color);
}

.CTA-button.important:hover {
    background-color: var(--CTA-important-hover);
}

.CTA-button.important:focus {
    background-color: var(--CTA-important-focus);
}

.CTA-link {
    color: var(--primary-color);
}

.CTA-link:hover {
    color: var(--CTA-primary-hover);
}

.CTA-link:active {
    color: var(--CTA-primary-focus);
}

.CTA-link.important {
    color: var(--important-color);
}

.CTA-link.important:hover {
    color: var(--CTA-important-hover);
}

.CTA-link.important:focus {
    color: var(--CTA-important-focus);
}

/* style pour l'affichage des livres */

.search_books {
    text-align: center;
}

#input {
    height: 20px;
    margin-right: 50px;
    padding: 5px;
    width: 200px;
}

#output {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--base-color);
    justify-content: center;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

#output div {
    width: 30%;
    margin: 15px;
    text-align: center;
}

#output p {
    text-align: center;
    font-size: 18px;
}

.book_details {
    font-weight: bold;
}

.display_data {
    display: flex;
}

.display_data img {
    max-height: 300px;
}